@mixin fontFace($font-path, $font-name, $font-weight, $font-style) {
    $file-path: $fonts-path + "/" + $font-path + "/" + $font-name;
    @font-face {
        font-family: $font-name;
        font-style: $font-style;
        font-weight: $font-weight;
        src: url($file-path + ".eot");
        src: url($file-path + ".eot?#iefix") format("embedded-opentype"), url($file-path + ".woff") format("woff"), url($file-path + ".ttf") format("truetype"), url($file-path + ".svg") format("svg"),
    }
}