$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-old-phone: "\e900";
$icon-envelope: "\e901";
$icon-home3: "\e902";
$icon-phone: "\e942";
$icon-mobile: "\e958";
$icon-mail: "\ea83";

